.container {
    width: 1280px;
    margin: 0 auto;
}

.title {
    display: flex;
    justify-content: space-between;
}

.theme-change {
    height: max-content;
    align-self: center;
    padding: 20px;
    border: none;
    border-radius: 3px;
    color: whitesmoke;
    background-color: #35444F;
}

.main-title {
    font: normal 80px/94px Roboto, sans-serif;
    padding-top: 63px;
    margin-bottom: 38px;
}

.main-title a {
    text-decoration: none;
    color: #000000;
}

.main-title span {
    color: #4bcaff;
}

.main-menu {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    list-style: none;
    background-color: #35444F;
}

.main-menu-item a {
    text-decoration: none;
    display: block;
    font: normal 24px/24px Roboto, sans-serif;
    color: #FFFFFF;
    padding: 24px 40px;
    border-right: 1px solid white;
}

.main-menu-item:first-child {
    border-left: 1px solid white;
}

.main-menu-item a:hover {
    background: #222F3A;
}

.main {
    display: flex;
    justify-content: space-between;
    padding-top: 48px;
    padding-bottom: 54px;
}

.aside-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 399px;
    width: 344px;
    border: 1px solid #000000;
    list-style: none;
}

.aside-menu-item a {
    display: block;
    text-decoration: none;
    font: normal 27px/27px Roboto, sans-serif;
    color: #485863;
    padding: 26px 0 26px 42px;
}

.aside-menu-item a:hover {
    padding-left: 60px;
    background: #DBDBDB;
    color: #35444F;
}

.main-content {
    width: 885px;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000000;
    height: 529px;
    margin-bottom: 37px;
}

.image img {
    transition: 1s;
}

.image img:hover {
    transform: scale(1.2);
}

.text p {
    margin-bottom: 34px;
    font: normal 18px/24px Roboto, sans-serif;
    color: #2C2C2C;
}

.footer {
    display: flex;
    justify-content: space-between;
    background: rgba(99, 105, 110, 0.48);
    height: 69px;
    width: calc(1280px - 80px);
    padding: 0 40px;
}

.footer-menu {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 875px;
}

.footer-menu-item a {
    display: block;
    text-decoration: none;
    font: normal 28px/28px Roboto, sans-serif;
    color: #0C1927;
    padding: calc((69px - 28px) / 2) 0;
}

.footer-menu-item a:hover {
    color: #3181A6;
    padding-bottom: 12px;
    border-bottom: 1px solid #3181A6;
}

.author-rights {
    display: block;
    font: normal 24px/24px Roboto, sans-serif;
    color: #010101;
    padding: calc((69px - 24px) / 2) 0;
}

.body-dark {
    background-color: #404040;
    color: white;
}

.main-menu-item-dark a,
.main-menu-dark,
.theme-change-dark {
    color: #404040;
    border-right: 1px solid #404040;
}

.main-menu-dark,
.theme-change-dark {
    background-color: white;
}

.main-menu-item-dark:first-child {
    border-left: 1px solid #404040;
}

.main-menu-item-dark a:hover,
.footer-dark {
    background: rgba(99, 105, 110, 0.48);
}

.aside-menu-dark,
.image-dark {
    border: 1px solid white;
}

.aside-menu-item-dark a,
.text-dark p,
.footer-menu-item-dark a,
.author-rights-dark,
.main-title-dark a {
    color: whitesmoke;
}

.aside-menu-item-dark a:hover {
    background: #1b2329;
    color: gray;
}