        body {
            font-family: 'Open Sans', sans-serif;
            font-weight: 600;
        }
        
        .container {
            width: 1170px;
            margin: 0 auto;
        }
        
        li {
            list-style: none;
        }
        
        a {
            text-decoration: none;
        }
        
        header {
            background-color: #313131;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        
        .logo {
            color: #fff;
            font-weight: 700;
            font-size: 22px;
            display: flex;
            align-items: center;
            padding-left: 27px;
        }
        
        .logo img {
            padding-right: 27px;
        }
        
        .menu-item {
            display: inline-block;
        }
        
        .menu-item a {
            color: #fff;
            font-size: 15px;
            padding: 26px 18px;
            display: block;
        }
        
        .menu-item a:hover {
            color: #14B9D5;
        }
        
        .search {
            background-color: #000000;
            border: none;
            padding: 25px;
        }
        
        .the-latest-news {
            text-align: center;
            background-image: url(../img/header-bg.jpeg);
            background-repeat: no-repeat;
            padding-bottom: 74px;
            background-position: center;
            background-attachment: fixed;
        }
        
        .the-latest-news h2 {
            font-weight: 700;
            font-size: 27px;
            line-height: 37px;
            color: #FFFFFF;
            padding: 164px 0 44px 0;
        }
        
        .btn-subscribe,
        .btn-articles {
            width: 170px;
            height: 55px;
            font-size: 18px;
            color: #fff;
            border: none;
            border-radius: 7px;
            -webkit-border-radius: 7px;
            -moz-border-radius: 7px;
            -ms-border-radius: 7px;
            -o-border-radius: 7px;
            margin: 0 10px 0 10px;
        }
        
        .btn-subscribe {
            background-color: #89CA62;
        }
        
        .btn-articles {
            background-color: #14B9D5;
        }
        
        .posts {
            background-color: #F2F2F2;
            padding-bottom: 72px;
        }
        
        h3 {
            padding: 49px 0 52px;
            font-size: 27px;
            line-height: 37px;
            color: #18B4CF;
            text-align: center;
            font-weight: 700;
        }
        
        .post-item {
            padding-bottom: 30px;
        }
        
        .post-item p {
            font-size: 18px;
            font-weight: 700;
            color: #353A3D;
            text-align: center;
            padding: 21px 0;
            background: #FFFFFF;
        }
        
        .most-popular-posts {
            display: flex;
            flex-flow: column wrap;
            align-content: space-between;
            max-height: 900px;
        }
        
        .post-item:nth-child(3n+1) {
            order: 1;
        }
        
        .post-item:nth-child(3n+2) {
            order: 2;
        }
        
        .post-item:nth-child(3n) {
            order: 3;
        }
        
        .popular-clients {
            text-align: center;
            background-image: url(../img/parallax-bg.jpeg);
            background-repeat: no-repeat;
            background-position: center;
            padding: 108px 0 191px 0;
            background-attachment: fixed;
        }
        
        .popular-clients h2 {
            font-weight: 700;
            font-size: 32px;
            line-height: 44px;
            text-align: center;
            color: #FFFFFF;
        }
        
        .popular-clients h2::after {
            content: "";
            display: block;
            width: 60px;
            margin: 87px auto 106px auto;
            border-bottom: 3px solid #18B4CF;
        }
        
        .client-logo {
            display: grid;
            grid-template-columns: repeat(4, auto);
            width: fit-content;
            grid-column-gap: 55px;
            align-items: center;
            margin: 0 auto;
        }
        
        .top-rated-img {
            display: grid;
            grid-auto-flow: column;
        }
        
        .top-rated-img img {
            width: 100%;
        }
        
        .hot-news h4 {
            font-weight: 700;
            font-size: 18px;
            color: #353A3D;
            padding-bottom: 15px;
        }
        
        .hot-news p {
            font-size: 14px;
            line-height: 21px;
            color: #5B6469;
        }
        
        .hot-news {
            display: grid;
            grid-template-columns: 314px 300px 277px 277px;
            grid-template-rows: 260px repeat(2, 420px) 260px;
            row-gap: 44px;
            padding-bottom: 77px;
        }
        
        .news-item {
            grid-column: span 2;
            width: 554px;
        }
        
        .short-news-item {
            grid-column: span 1;
            width: 277px;
        }
        
        .long-news-item {
            display: flex;
            grid-column: span 3;
            width: 856px;
        }
        
        .long-news-item figcaption {
            padding: 41px 24px 0 5px;
            text-align: right;
        }
        
        .short-news-item figcaption {
            text-align: center;
            padding: 5px 0;
        }
        
        .news-item figcaption {
            padding: 19px 18px 0 25px;
            text-align: right;
        }
        
        .hot-news>* {
            background-color: #f7f7f7;
        }
        
        footer {
            background-color: #000000;
            padding: 29px 0 27px 0;
        }
        
        .footer {
            color: white;
            display: grid;
            grid-template-columns: 1fr 105px;
        }
        
        .footer a {
            display: grid;
            align-items: center;
            justify-self: end;
            grid-template-columns: subgrid;
        }
        
        .footer a img {
            grid-row: 1;
            grid-column: span 1;
            align-self: start;
        }
        
        .exercise-2 {
            display: flex;
        }