body {
    font-family: 'Roboto', sans-serif;
}

.container {
    margin: 0 25px;
}

h2 {
    font-size: 14px;
    line-height: 22px;
    color: #4E4E4E;
    font-weight: 700;
    text-transform: uppercase;
}

h3 {
    font-size: 14px;
    line-height: 30px;
    color: #4E4E4E;
    font-weight: 700;
}

@media screen and (min-width: 768px) {
    .container {
        margin: 0 80px;
    }
    h2,
    h3 {
        font-size: 16px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        margin: 0 auto;
        max-width: 1200px;
    }
}