$burger-primary-color: #FFFFFF;
$burger-bg: #000000;
$headings-text-color: #4E4E4E;
$menu-bg: #F5F5F5;
$menu-item-hovered-bg: #E5E5E5;
$menu-item-colored:#57A4A4;
$subtittle-text-color: #7C7C7C;
$capture-text-color:#5C5C5C;
$footer-tittle-color: #FEFEFE;
$footer-text-color: #B9B9B9;
$footer-bg: #000;
$icon-wifi-color:#F8902E;
$icon-fb-color: #39599F;
$icon-twitter-color: #45B0E3;
$icon-dribble-color: #D97AB0;
$icon-pinterest-color: #CC212C;