    .footer {
        background: $footer-bg;
        text-align: center;
        padding-top: 38px;
        padding-bottom: 47px;
        &__tittle {
            color: $footer-tittle-color;
            padding-bottom: 22px;
        }
        &__text {
            color: $footer-text-color;
            font-size: 12px;
            line-height: 20px;
            &_hidden {
                display: none;
            }
        }
        .contacts {
            color: $footer-text-color;
            font-size: 14px;
            line-height: 24px;
        }
    }
    
    .networks {
        @include flexSet;
        gap: 6px;
        margin: 26px auto;
        &__item {
            width: 34px;
            height: 34px;
            box-sizing: border-box;
            border: 2px solid white;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            &_wifi {
                border-color: $icon-wifi-color;
                stroke: $icon-wifi-color;
            }
            &_fb {
                border-color: $icon-fb-color;
                fill: $icon-fb-color;
            }
            &_twitter {
                fill: $icon-twitter-color;
                border-color: $icon-twitter-color;
            }
            &_dribble {
                stroke: $icon-dribble-color;
                border-color: $icon-dribble-color;
            }
            &_pinterest {
                fill: $icon-pinterest-color;
                border-color: $icon-pinterest-color;
            }
        }
    }
    
    @media screen and (min-width: 481px) {
        br {
            display: none;
        }
        .footer {
            padding-top: 56px;
            padding-bottom: 57px;
        }
        .footer__text {
            font-size: 16px;
            line-height: 26px;
            &_hidden {
                display: inline;
            }
        }
    }
    
    @media screen and (min-width: 993px) {
        .footer {
            padding-top: 66px;
            padding-bottom: 70px;
        }
    }