    .container {
        @include reset;
        padding: 0 25px;
        box-sizing: border-box;
        min-width: 320px;
    }
    
    .header {
        text-align: end;
        position: relative;
    }
    
    .burger {
        margin-top: 23px;
        padding: 12px;
        box-sizing: border-box;
        display: inline-block;
        background: $burger-bg;
        position: relative;
        height: 38px;
        &__dash {
            margin: 2px;
            width: 17px;
            height: 2px;
            background: $burger-primary-color;
            transition: 0.25s;
            &-active:nth-child(1) {
                opacity: 0;
            }
            &-active:nth-child(2) {
                transform: rotate(-45deg);
            }
            &-active:nth-child(3) {
                transform: rotate(45deg);
                position: absolute;
                top: 42%;
            }
        }
    }
    
    .burger-menu {
        display: none;
        z-index: 1;
        text-align: start;
        width: calc(100% - 50px);
        position: absolute;
        right: 25px;
        top: 61px;
        background: $menu-bg;
        &__item {
            list-style: none;
            font-size: 11px;
            letter-spacing: 1.1px;
            line-height: 22px;
            &_colored a {
                color: $menu-item-colored;
            }
            & a {
                padding-left: 13px;
                text-decoration: none;
                color: $headings-text-color;
                display: block;
                &:hover {
                    border-left: 1px solid $menu-item-hovered-bg;
                    padding-left: 12px;
                    background-color: $menu-item-hovered-bg;
                }
            }
        }
        &_visible {
            display: block;
            animation-duration: 0.5s;
            animation-name: menuSlidein;
        }
    }
    
    .background img {
        width: 100%;
        margin-top: 23px;
    }
    
    @media screen and (min-width: 481px) {
        .burger {
            display: none;
        }
        .burger-menu {
            @include flexSet;
            width: 100%;
            position: static;
            margin-top: 24px;
            background: none;
            &__item a {
                @include reset;
                padding: 17px;
                &:hover {
                    @include reset;
                    padding: 17px;
                    color: $menu-item-colored;
                }
            }
        }
    }
    
    @media screen and (min-width: 993px) {
        .container {
            max-width: 1200px;
        }
        .burger-menu {
            margin: 11px auto 17px;
            &__item a {
                padding: 34px;
                &:hover {
                    @include reset;
                    padding: 34px;
                }
            }
        }
    }