    .recent-posts {
        margin: 38px auto 50px;
        text-align: left;
        &__tittle {
            margin-bottom: 23px;
        }
    }
    
    .post-capture {
        padding-bottom: 28px;
        &__tittle {
            padding-top: 11px;
        }
        &__subtittle {
            color: $subtittle-text-color;
            font-size: 11px;
            line-height: 20px;
        }
        &__content {
            display: none;
        }
    }
    
    .posts__item_hidden {
        display: none;
    }
    
    @media screen and (min-width: 481px) {
        .recent-posts {
            margin: 56px auto 60px;
            &__tittle {
                font-size: 16px;
            }
        }
        .posts {
            &__item {
                display: flex;
                align-items: flex-start;
                margin-bottom: 32px;
                &_hidden {
                    display: flex;
                }
            }
        }
        .post-capture {
            margin-left: 21px;
            &__content {
                display: block;
                color: $capture-text-color;
                font-size: 14px;
                line-height: 26px;
            }
            &__tittle {
                padding-top: 0;
            }
            &__subtittle {
                margin-bottom: 13px;
            }
        }
    }
    
    @media screen and (min-width: 993px) {
        .recent-posts {
            margin: 66px auto 24px;
        }
        .posts {
            width: auto;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 25px;
        }
    }