.last-shot {
    margin-bottom: 42px;
    &__tittle {
        margin-bottom: 13px;
    }
}

.last-shot-tittles {
    @include flexSet;
    justify-content: start;
    margin-bottom: 13px;
    &__item_hidden {
        display: none;
    }
}

.last-pictures {
    &__item {
        width: 100%;
        &_hidden {
            display: none;
        }
    }
}

@media screen and (min-width: 481px) {
    .last-pictures {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        &__item {
            width: 100%;
            &_hidden {
                display: block;
            }
            &_hidden:last-child {
                display: none;
            }
        }
    }
    .last-shot {
        margin-bottom: 0;
        padding-top: 47px;
        padding-bottom: 47px;
        background: #F5F5F5;
    }
    .last-shot-tittles {
        margin-bottom: 35px;
        &__item_hidden {
            display: block;
        }
    }
}

@media screen and (min-width: 993px) {
    .last-pictures {
        grid-template-columns: repeat(4, 1fr);
        &__item_hidden:last-child {
            display: block;
        }
    }
}