body {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    color: white;
    background: url(../img/background\ 1.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    width: 1020px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: white;
}

header {
    padding: 51px 0 17px;
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
}

.logo {
    background-image: url(../img/logo-orig.png);
    background-position: left top;
    background-repeat: no-repeat;
    font-weight: bold;
    font-size: 29px;
    padding-left: 57px;
    line-height: 85%;
}

.logo span {
    font-size: 18px;
}

.contacts p {
    text-align: right;
}

.contacts p:first-child {
    padding-bottom: 19px;
}

.elements {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(2, auto);
    row-gap: 17px;
    justify-content: space-between;
    align-content: start;
}

.img-item figure {
    position: relative;
}

.img-item figcaption {
    padding: 20px 0;
    text-align: center;
}

.rising-item {
    padding: 7px 16px 12px 16px;
    background-color: #F26522;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: absolute;
    top: calc(220px - 49px);
    width: calc(100% - 32px);
    opacity: 0;
    visibility: hidden;
    transition-duration: 500ms;
}

.price {
    font-size: 10px;
}

.price span {
    font-size: 20px;
    font-weight: bold;
}

.view-details {
    font-size: 14px;
}

.view-details:after {
    content: '\232A';
    padding-left: 14px;
}

footer p {
    font-size: 12px;
    text-align: center;
    padding: 49px 0 15px 0;
}

.logo:hover {
    background-image: url(../img/logo\ 2.png);
}

a:hover {
    color: #F26522;
}

.img-item:hover .rising-item {
    opacity: 1;
    visibility: visible;
}