body {
    width: 100%;
    height: 100%;
    font-weight: 700;
    color: #ff6;
    background-color: #000;
}

h2 {
    text-align: center;
}

h2,
p {
    padding-bottom: 30px;
    line-height: 1.5em;
}

.titles {
    position: absolute;
    width: 18em;
    height: 50em;
    bottom: 0;
    left: 50%;
    font-size: 350%;
    font-weight: bold;
    transform-origin: 50% 100%;
    transform: translateX(-50%) perspective(300px) rotateX(25deg);
}

.titlecontent {
    position: absolute;
    top: 100%;
    animation: scroll 30s linear infinite;
}

@keyframes scroll {
    0% {
        top: 100%;
    }
    100% {
        top: 20%;
    }
}