@import '../../style.scss';

.favorites-block {
    padding: 30px;
    background-color: lightblue;
    &-item{
        background-color: $base-color-dark;
        display: grid;
        grid-template-columns: 1fr 25px;
        align-items: center;
        padding: 10px;
        margin: 1px;
    }
}

.favourite-product {
    
    color: $base-text-color;
    display: flex;
    gap: 30px;
    align-items: center;
    &__image{
        width: 20px;
    }
}