body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    color: #434343;
    background: url(../img/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

a,
li {
    text-decoration: none;
    color: #fff;
    list-style: none;
}

header {
    color: White;
    padding: 0 79px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.4);
}

header h2 a {
    font-size: 22px;
    font-weight: bold;
}

.header-right-elements,
.header-icons {
    display: flex;
    align-items: center;
}

.header-icons li {
    padding-right: 25px;
    font-size: 23px;
}

.header-right-elements p {
    font-size: 14px;
}

.header-right-elements p:before {
    content: '';
    display: inline-block;
    height: 19px;
    border-left: 1px solid #828282;
    vertical-align: middle;
    padding-right: 27px;
}

header a {
    display: inline-block;
    padding-top: 22px;
    padding-bottom: 22px;
}

.rising-form {
    background-color: #FFFFFF;
    padding: 31px 60px 38px;
    width: 324px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% + 33.5px));
}

.form-heading {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 15px;
    font-size: 20px;
    position: relative;
}

.form-heading a {
    font-size: 14px;
    color: #3CB878;
}

.form-heading:before {
    content: '';
    width: 18px;
    height: 18px;
    background-color: #3CB878;
    position: absolute;
    left: -60px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.log-in-btn {
    width: 160px;
    height: 48px;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
    position: relative;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
}

.log-in-btn i {
    font-size: 24px;
    vertical-align: middle;
    padding-right: 38px;
}

.facebook-btn {
    padding: 0 22px 0 14px;
    background-color: #305DB8;
}

.google-btn {
    padding: 0 27px 0 12px;
    background-color: #DF4A32;
}

.log-in-btn:before {
    content: '';
    display: inline-block;
    width: 1px;
    height: 28px;
    background: #2C56AA;
    top: calc(50% - 14px);
    position: absolute;
    left: 49px;
}

.google-btn:before {
    background: #CD442E;
}

.line-around {
    padding: 31px 0 12px 0;
    color: #848484;
    display: inline-block;
}

.line-around:before,
.line-around:after {
    content: '';
    display: inline-block;
    width: calc((324px - 20px) / 2);
    border-top: 1px solid #F2F2F2;
    padding: 1.5px;
}

.input-field {
    display: block;
    width: 304px;
    padding: 15px 0 15px 20px;
    border-radius: 5px;
    border: 1px solid #F2F2F2;
    margin-bottom: 15px;
    outline: none;
    font-family: 'Ubuntu', sans-serif;
}

::-webkit-input-placeholder,
:-ms-input-placeholder,
::-moz-placeholder,
 :-moz-placeholder {
    color: #F2F2F2;
}

.agree-checkbox {
    opacity: 0;
}

.text-agree-checkbox {
    display: inline-block;
    padding: 0 0 20px 10px;
    position: relative;
}

.text-agree-checkbox a {
    color: #3CB878;
}

.text-agree-checkbox:before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 1px solid #F2F2F2;
    position: absolute;
    left: -20px;
    top: -2px;
}

.agree-checkbox:checked+.text-agree-checkbox:before {
    content: '';
    background-image: url(../img/checked.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.create-btn {
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    color: #FFFFFF;
    background-color: rgba(60, 184, 120, 0.8);
    outline: none;
    border: none;
    border-radius: 4px;
    width: 100%;
    padding: 16px 0 16px;
}

header a:hover {
    color: #236D47;
}

.rising-form a:hover {
    color: #01813f;
    text-decoration: underline;
}

.facebook-btn:hover {
    background-color: #022263;
}

.google-btn:hover {
    background-color: #AB1F09;
}

.facebook-btn:hover:before {
    background: #03215E;
}

.google-btn:hover:before {
    background: #9E1D09;
}

.create-btn:hover {
    background-color: #01813F;
}

.input-field:focus {
    box-shadow: 2px 4px 12px 1px rgba(0, 0, 0, 0.45);
}

.facebook-btn:hover,
.google-btn:hover,
.create-btn:hover,
.text-agree-checkbox:hover {
    cursor: pointer;
}

.facebook-btn,
.google-btn,
.create-btn,
.text-agree-checkbox,
a {
    transition: 0.5s;
}