body {
    font-family: 'Montserrat', sans-serif;
    color: #777777;
}

.container {
    max-width: 1160px;
    margin: 0 auto;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    text-align: center;
    background-image: url(../images/section-header.jpg);
    background-attachment: fixed;
    padding-bottom: 243px;
    color: white;
    margin-bottom: 8px;
}

.header {
    background: rgba(94, 93, 88, 0.6);
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26px 0;
}

.header-logo {
    color: white;
    display: flex;
    align-items: center;
    font-size: 32px;
}

.header-logo a {
    color: white;
}

.header-logo span {
    color: #18CFAB;
    font-weight: 700;
}

.header-logo .main-logo-letter {
    background-image: url(../images/logo-background.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    padding: 17px 15px;
    font-weight: 700;
    font-size: 40px;
}

.header-nav {
    display: flex;
    justify-content: center;
}

.header-nav-item a {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.6);
    padding: 48px 20px;
    font-weight: 700;
}

.header-nav-item a:hover {
    color: #18CFAB;
    border-bottom: 1px solid #18CFAB;
    padding: 48px 0 47px;
    margin: 0 20px;
}

.header-btn-search {
    background: none;
    border: none;
    padding: 20px;
}

header h5 {
    padding-top: 264px;
    font-size: 35px;
    font-weight: 700;
}

header h5 span {
    color: #18CFAB;
}

header h3 {
    padding: 22px 0;
    font-size: 78px;
    font-weight: 700;
}

header p {
    color: #D4D4D4;
    font-size: 34px;
    padding-bottom: 190px;
}

.btn-green,
.btn-blue {
    width: 170px;
    height: 63px;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    border: none;
    border-radius: 7px;
    border-top: 5px solid white;
}

.btn-green {
    background-color: #18CFAB;
}

.btn-blue {
    background-color: #00CBF6;
}

.header-btn-search {
    margin: 0 13px;
}

.benefit {
    display: flex;
}

.benefit-item {
    width: 100%;
    height: 15vw;
    padding-bottom: 5vw;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.benefit-item:nth-child(2n+1) {
    background-color: #1C2A33;
    color: #18CFAB;
}

.benefit-item:nth-child(2n) {
    background-color: #18CFAB;
    color: #1C2A33;
}

.benefit-item img {
    max-width: 100%;
    margin: auto;
}

h6 {
    font-size: 36px;
    color: #4E4E4E;
    padding: 90px 0 28px;
    text-align: center;
    position: relative;
}

h6::after,
h6::before {
    display: block;
    content: '';
    width: 76px;
    border-bottom: 1px solid #18CFAB;
    position: absolute;
    left: 50%;
}

h6::after {
    bottom: 2px;
    transform: translate(-50%, 0);
}

h6::before {
    bottom: 0;
    transform: translate(-24px, 0);
}

.service-content-item {
    display: none;
}

.service-content-item:first-child {
    display: flex;
}

.service-content-item img {
    width: 192px;
    height: 139px;
}

.service-content-item p {
    font-weight: 300;
    font-size: 13px;
    padding-left: 15px;
    line-height: 2em;
}

.service-nav {
    padding: 69px 0 27px;
    height: 72px;
    display: flex;
}

.service-nav-item {
    width: 100%;
    text-align: center;
    position: relative;
}

.service-nav a {
    width: calc(100% - 2px);
    display: inline-block;
    font-size: 16px;
    color: #717171;
    padding: 28px 0;
    border: 1px solid #F2F2F2;
}

.service-nav a:hover {
    border: 1px solid #18CFAB;
    box-sizing: content-box;
}

.service-nav .service-nav-a-clicked {
    background-color: #18CFAB;
    color: white;
    border: 1px solid #18CFAB;
    box-sizing: content-box;
}

.service-nav-a-clicked::after {
    content: '';
    width: 27px;
    height: 15px;
    display: block;
    background-image: url(../images/services/rectangle-for-service-links.png);
    background-size: cover;
    position: absolute;
    left: 50%;
    bottom: -14px;
    transform: translate(-50%, 0);
}

.purchase-suggestion {
    margin-top: 91px;
    text-align: center;
    background-image: linear-gradient(to right, rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(../images/section-purchase-suggestion.jpg);
    background-size: cover;
}

.purchase-suggestion h2 {
    font-size: 40px;
    font-weight: 700;
    color: #18CFAB;
    padding: 127px 0 24px;
}

.purchase-suggestion p {
    font-size: 16px;
    color: #D8D8D8;
}

.purchase-suggestion-btn {
    margin: 81px auto 127px;
}

.our-work {
    background: #E9EDEF;
    text-align: center;
    padding-bottom: 100px;
}

.nav-our-work {
    display: flex;
    justify-content: center;
    margin: 70px 0 70px;
}

.nav-our-work-item {
    padding: 15px;
    border: 1px solid #DADADA;
    color: #717171;
}

.nav-our-work-item:first-child {
    padding: 15px 28px;
}

.nav-our-work-item:hover,
.nav-our-work-item-clicked {
    color: #18CFAB;
    border-color: #18CFAB;
    cursor: pointer;
}

.our-work-images {
    display: flex;
    flex-wrap: wrap;
}

.our-work-images>* {
    width: 290px;
    height: 211px;
}

.replacement-block {
    position: relative;
    display: none;
    color: #8A8A8A;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-top: 1px solid #18CFAB;
    height: 210px;
}

.img-element-btn-square {
    width: 40px;
    padding: 11px 13px;
    border: 1px solid #18CFAB;
    background-color: #18CFAB;
    border-radius: 50%;
}

.img-element-btn-square:hover {
    background-color: white;
}

.img-element-btn-square:hover img {
    filter: brightness(0) saturate(100%) invert(79%) sepia(98%) saturate(2638%) hue-rotate(87deg) brightness(88%) contrast(82%);
}

.img-element-btn-chain {
    padding: 10px 11px;
    border: 1px solid #18CFAB;
    border-radius: 50%;
    width: 40px;
}

.img-element-btn-chain img {
    transform: translate(1px, 2px);
}

.img-element-btn-chain:hover {
    background-color: #18CFAB;
}

.img-element-btn-chain:hover img {
    filter: brightness(0) saturate(100%) invert(94%) sepia(52%) saturate(0%) hue-rotate(154deg) brightness(108%) contrast(101%);
}

.replacement-block-images {
    display: flex;
    justify-content: center;
    margin: 42px 0 24px;
    gap: 3px;
}

.replacement-block h2 {
    color: #18CFAB;
    font-weight: 700;
    line-height: 25px;
    font-size: 15px;
}

.replacement-block p {
    font-size: 13px;
}

.our-work-btn,
.best-images-btn {
    margin: 70px auto 0;
    font-size: 14px;
    padding-left: 56px;
    background-image: url(../images/plus-for-button.png);
    background-position: 23px 50%;
    background-repeat: no-repeat;
    border-top: none;
}

.news-list {
    padding-top: 68px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.news-list li {
    background: #F8FCFE;
    border: 1px solid #F2F4F5;
    font-size: 14px;
    width: 263px;
    position: relative;
    margin-bottom: 44px;
}

.news-list li a {
    color: #717171;
    font-size: 18px;
    font-weight: bold;
}

.news-item figcaption {
    padding-left: 20px;
    line-height: 39px;
}

.news-date {
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px 20px;
    background-color: #203E38;
    color: white;
    line-height: 25px;
    font-size: 16px;
    vertical-align: middle;
    text-align: center;
    font-weight: 400;
}

.news-item p {
    line-height: 40px;
    padding-left: 20px;
    font-weight: 300;
}

.news-item p span::before {
    content: '|';
    padding: 0 11px;
}

.news-item a:hover {
    color: #18CFAB;
}

.news-item a:hover .news-date {
    background-color: #18CFAB;
    color: white;
}

.carousel {
    position: relative;
    padding-top: 36px;
}

.gallery {
    width: 9999px;
    margin: 0;
    padding: 0;
    transition: margin-left 250ms;
    margin: 0 auto;
    display: flex;
    overflow: hidden;
}

.rewiev-by-people {
    overflow: hidden;
    text-align: center;
    background-image: linear-gradient(to right, rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url(../images/rewiev/section-rewiev-by-people.jpg);
}

.rewiev-by-people h6 {
    padding: 98px 0 25px;
    color: white;
    font-weight: 400;
}

.personal-feedback {
    width: 1160px;
    padding: 0 calc((100vw - 1160px) / 2);
}

.feedback-author {
    font-weight: 300;
    font-size: 13px;
    line-height: 27px;
    padding: 38px 0;
}

.feedback-author span {
    font-weight: 700;
    color: #18CFAB;
    font-size: 16px;
}

.feedback-text {
    font-weight: 300;
    line-height: 30px;
    color: #BBBBBB;
}

.feedback-text::before {
    content: url(../images/rewiev/quotes.png);
    display: block;
    padding: 66px 0 36px;
}

.personal-rewiever-photo {
    width: 143px;
    height: 143px;
    border: 11px solid rgba(31, 218, 181, .2);
    border-radius: 50%;
}

.people-catalog {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 51px 0 85px;
}

.btn-prev-next {
    background: none;
    color: #BBBBBB;
    font-size: 15px;
    border: 1px solid #BBBBBB;
    padding: 5px 9px;
    margin: 15px;
}

.btn-prev-next:hover {
    background: #18CFAB;
    color: white;
}

.people-catalog .pictures>* {
    margin-left: 15px;
    margin-right: 15px;
    border: 6px solid rgba(31, 218, 181, .2);
    border-radius: 50%;
}

.people-catalog .personal-photo-clicked {
    transition: transform 250ms;
    transform: translateY(-25px);
}

.best-image-item {
    width: 373px;
    padding-top: 10px;
}

.best-images-2pc {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.best-images-2pc>img {
    height: 168px;
    width: 185px;
}

.best-images-9pc {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.best-images-9pc>img {
    width: 122px;
    height: 92px;
    padding-top: 3px;
}

.all-best-images {
    padding: 63px 0 52px;
}

.best-images-btn {
    text-align: center;
    display: block;
    margin: 0 auto 80px;
}

.best-images-hidden {
    display: none;
}

footer {
    font-size: 14px;
    line-height: 26px;
    font-weight: 300;
    color: #AEAEAE;
    padding: 47px;
    background: #22353F;
    text-align: center;
}

footer a {
    color: #18CFAB;
}

footer a::after {
    content: '|';
    padding: 0 11px;
    color: #AEAEAE;
}