@import '../../constants';

.cart-pop-up{
    padding: 10px;
    background-color: $base-color-light;
    font-size: small;
    width: 350px;
    position: absolute;
    top: 0;
    z-index: 100;
    right: 0;
    top: 46px;
}

.cart-block {
    
    &-item{
        background-color: $base-color-light;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.cart-product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &>*{
        padding-right: 20px;
    }
    &__price{
        width: 60px;
    }
    &__image{
        height: 30px;
    }
}

.cartFooter{
    &__total-amount {
    padding: 10px 0;
    margin: 3px 0;
    font-size:large;
    text-align: end;
    border-top: 1px dashed black;
    border-bottom: 1px dashed black;
    }
    &__actionButtons{
        display: flex;
        justify-content: space-around;
        color: $base-text-color;
        padding-top: 10px;
        a {
            background-color: $base-color-dark;
            padding: 5px 10px;
        }
    }
}