body {
    width: 1280px;
    margin: auto;
}

.header-menu {
    margin: 22.5px 0;
}

.menu {
    text-align: center;
}

.menu-item {
    display: inline-block;
}

.menu-item a {
    text-decoration: none;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    color: #FF0000;
    padding: 0 36px;
}

.picture {
    margin: 22.5px 0 49px;
}

.header-main {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    text-align: center;
    color: #373737;
    margin: 49px auto 38px;
}

.text {}

.main-text {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
    color: #373737;
    text-align: center;
    margin: 28px 67.5px;
}

.btn {
    margin: 66px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 51px;
    width: 191px;
    background-color: #FF0000;
    border-radius: 4px;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #FFFFFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.footer-text {
    margin: 82px 105px 29px auto;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    letter-spacing: 2.4px;
    color: #373737;
}