p {
    padding: 20px;
    height: 2em;
}

span {
    border: 1px solid grey;
    padding: 2px 2px 2px 6px;
    border-radius: 50px;
    font-size: 0.7em;
    vertical-align: middle;
    color: gray;
    margin-right: 10px;
}

span button {
    border-radius: 50%;
    padding: 1px 3px;
    border: 0.25px solid grey;
    margin: 2px 2px 2px 6px;
    color: grey;
    font-size: 0.7em;
    transform: translate(0, -0.7px);
}

input {
    outline: none;
    border-radius: 3px;
}

.focusin {
    border: 2px solid green;
}

.focusouttrue {
    color: green;
    border: 2px solid green;
}

.focusoutfalse {
    color: red;
    border: 2px solid red;
}

label {
    padding: 20px;
}

#error {
    color: red;
}